# EditorConfig - https://EditorConfig.org/

# C++ files handled by .clang-format.

# top-most EditorConfig file
root = true

# Match Visual Studio style since that is the most common editor for UE4 developers.
[*.{cpp,c,h}]
charset = utf-8
indent_size = 4
indent_style = tab

[*.cs]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.uproject]
charset = utf-8
indent_style = tab

